@import "tailwindcss";

.container {
  width: min(98%, 98vw);
  margin-inline: auto;
}

@theme {
  --color-primary: #fd9908;
  --color-secondary: #181f29;
  --color-tertiary: #00d3ff;
  --color-theme-black: #181f29;
}

.navbar-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

/* Custom Scrollbar for Footer Group Entities */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fd9908;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fd9908cc;
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #fd9908 rgba(255, 255, 255, 0.1);
}
