@import "tailwindcss";

.container {
  width: min(98%, 98vw);
  margin-inline: auto;
}

@theme {
  --color-primary: #fd9908;
  --color-secondary: #181f29;
  --color-tertiary: #00d3ff;
  --color-theme-black: #181f29;
}

.navbar-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
}
